
@{
    ViewData["Title"] = "Add A Task";
}

@model Mission6.Models.TaskForm

@*Now Create form to add a new task*@

<div>
    <form method="post">
        <label asp-for="TaskName">Task: </label>
        <input asp-for="TaskName" /><br />

        <label asp-for="DueDate">Due Date: </label>
        <input asp-for="DueDate" /><br />

        <label asp-for="Urgent">Urgent: </label>
        <select asp-for="Urgent">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select><br />

        <label asp-for="Important">Important: </label>
        <select asp-for="Important">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select><br />

        @*Category (Dropdown containing options: Home, School, Work, Church)*@
        @*Will need to break out category into it's own table/database, review videos'*@
        <label asp-for="CategoryID">Category: </label>
        <select asp-for="CategoryID">
            <option value="">Select Category</option>
            @foreach (Category cat in ViewBag.Categories)
            {
                <option value="@cat.CategoryID">@cat.CategoryName</option>
            }
        </select><br />


        <label asp-for="Completed">Completed: </label>
        <select asp-for="Completed">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select><br />

        <button type="submit">Submit Task</button>
    </form>

</div>