
@{
    ViewData["Title"] = "Home";
}
@model Mission6.Models.TaskForm

@* Create assurance that your task has been succesfully submitted.*@

<h3>Your New Task: "@Model.TaskName" has been Successfully Submitted!</h3>