@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome! This is our app!!!!!!!!!!!!</h1><br />
    <h3>Inspired By...Steven Covey</h3> <br />
    <h3>The man, the myth, the leeegeeend!!!</h3><br /><br />
<img src="~/img/daCovDog.jpg" /><br />
    <h4>What.A.Man.</h4>
</div>
